.currentframe {
   display: flex;
   margin-left: 40px;
   flex-direction:column;
   align-items:flex-start ;
   justify-content: space-between;
   width:40vw;
   padding: 20px;
   margin-top: 5px;
    
  }

  .notPlaying{
      width:auto;
  }

  .currentCard{
     margin-top: 20px;
      background-color: rgb(39, 39, 39);
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      padding: 30px;
      border-radius: 27px;
      width: 80%;
      height: 250px;
      
      
  }

  .currentSongDetails{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      
      padding: 20px;
     
    
  }

  .currentSongDetailsH2{
      font-size: 20px;
      margin-top: 30px;
      margin-left: 30px;
  }

  .currentSongDetailsH1{
      font-size: 30px;
  }

  .img{
      border-radius: 20px;
      width: 240px;
  }

 
  @media screen and (max-width:1024px) {

    .currentSongDetailsH2{
        font-size: 18px;
        margin-left: 20px;
       
    }
  
    .currentSongDetailsH1{
        font-size: 25px;
    }

    .img{
       
        width: 160px;
    }

   
  

  }
  @media screen and (max-width:912px) {

    .img{
       
        width: 170px;
    }

    .currentSongDetailsH2{
        font-size: 15px;
       
    }
  
    .currentSongDetailsH1{
        font-size: 20px;
        margin-left: 10px;
    }

    .currentCard{

         height: 220px;
         
         
     }


  

  }

  @media screen and (max-width:771px) {

    .currentframe {
       width: auto;
       display: flex;
       flex-direction:column;
       align-items:flex-start ;
       justify-content: space-between;
       margin-left: 10px;
       height: auto;
       
      }

      .currentSongDetailsH2{
        margin-top: 10px;
        margin-left: 4px;
       
    }

      .currentCard{
        
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        align-items:center;
        height:auto;
        
    }

    .currentSongDetails{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-left: 20px;
        padding: 20px;
      
    }

    .img{
       
        width: 150px;
    }

    
  }


  @media screen and (max-width:760px) {

    .currentframe{
      
      width: 80vw;
      
    }
  
  }

 