.topArtists {
  display:flex;
  margin:0 0 40px 0;
  overflow-x: scroll;
  width:55vw;
  
}

.artistCard {
  margin: 20px;
  position: relative;
}

.artistImage {
  max-width: 260px;
  height: 260px;
  border-radius: 20px;
  object-fit: contain;
}

.topGradient {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  padding: 20px 10px;
  background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.8), rgba(0,0,0,0.5), rgba(0,0,0,0));
}

.bottomGradient {
  
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 0 0 20px 20px;
  padding: 20px 10px;
  background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0.8), rgba(0,0,0,0.5), rgba(0,0,0,0));

}

@media screen and (max-width:760px) {

  .topArtists {
    
    width: 80vw;
    
  }

}