.topSongs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.songCard {
  display: flex;
  margin: 20px 20px;
  border-radius: 20px;
  width: 45%;
  padding: 20px;
  background-color: rgb(39, 39, 39); 
}

.songImage {
  width: 200px;
  border-radius: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.songControl > .audioBtn {
  visibility: hidden;
}
.songControl{
  height: 200px;
}
.songControl:hover .audioBtn {
  visibility: visible;
}

.playOnSpot {
  padding: 10px;
  /* border: 2px solid; */
  /* background: #58ba55; */
  font-size: 20px;
  margin-top: 30px;
  font-weight: bold;
  border-radius: 10px;
  transition: all 0.3s ease;
  text-decoration: none;
  color: white;
}
.playOnSpot > i {
  margin-left: 5px;
}
.playOnSpot:hover {
  background: #58ba55;
  cursor: pointer;
}

@media screen and (max-width:1010px) {
  .songDetails{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
  }
  .songCard {
    display: flex;
    margin: 20px auto;
    width: 60%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;}

    .topSongs {
      flex-direction: column;
    }

    .songImage {
      margin-top: 20px;
     
      }

    .CentreplayOnSpot{
      width: 80%;
      margin-top: 30px;
     }

    .playOnSpot:hover {
      background: #58ba55;
      cursor: pointer;
      padding: 10px;
    }

    .playOnSpot {
      padding: 0px;
    }

    
    

  }

  @media screen and (max-width: 642px) {
    .songCard{
     width: 80%;
    }
    .songImage {
      width: 160px;
     
    }
    .songDetails{
      margin-top: 30px;}

   
  }



 