* {
  margin: 0;
  padding: 0;
}
html, body, #root, .App {
  height: 100%;
  background-color: #17171a;
  color: white;
  font-family: 'Lato';
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
  ::-webkit-scrollbar-track {
  background: transparent; 
}
  ::-webkit-scrollbar-thumb {
  background: #1DB954; 
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
  
  background: #1DB954; 
} 
.zoom {
  transition: all 0.2s;
  z-index: 1000;
}
.zoom:hover {
  transform: scale(1.1);
  cursor: pointer;
}